*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    background: #282A35;
    display: flex;
    justify-content: center;
    align-items: center;

}

input{
    width: 350px;
    padding: 20px;
    border: none;
    background: #111;
    color: #fff;
    margin: 0px;
    font-size: 25px;
    box-shadow: 1px 2px 9px rgb(162, 162, 230);

}
input::placeholder{
    color: #fff;
}
.calculatior{
    background: #dad3d3;
    padding: 45px;
    border-radius: 16px;
    box-shadow: 0px 3px 205px rgba(113,115,2000,0.5);
    border: 1px solid blue;

}
button{
    border: none;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin: 12px;
    background: #222;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 1px 2px 8px blue;
    transition: 0.4s ease-in-out;
}
button:hover{
    cursor: pointer;
    background: rgba(180, 169, 169, 0.789);
    color: rgb(0, 0, 255);
    
}
.blue{
    color: rgb(0, 221, 255);
}
